*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/* ---------- Header start ------------- */
header{
    background-color: #35424a;
    height:5rem;
    border-bottom: 2px solid #a9508b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

/* header sol */

header .logo h1{
    font-size: 1.7rem;
    font-weight: bold;
    color: white;
}
header .logo h1 span{
    color: #a9508b;
}

/* header sag */

header .menu a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    color: white;
    padding: 0 1rem;
    text-transform: uppercase;
}
header .menu a.active{
    color: #a9508b;
    font-weight: bolder;
}
